body {
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
  border: 0;
  margin: 0; 
}
.choice {
  padding: 1em;
  border: 1em;
  border: 1px solid #1971FF;
  background: transparent;
  font-weight: 600;
  color: #1971FF;
  border-radius: 5px;
  margin: 0.2em;
  margin-bottom: 0em;
  cursor: pointer;
}

.sleck {
  display: grid;
  padding: 0;
  grid-template-columns: repeat(24, 1fr);
  grid-auto-rows: repeat(48, 1fr);
  height: 100vh;
  widows: 100vw; 
}

.chat-header {
  grid-column: 7 / 25;
  grid-row: 1 / 2;
  border-bottom: 1px solid #A0A0A0;
  padding-left: 1em;
  padding-bottom: 0em;
  height: 10vh;
}

.chat-options {
  grid-column: 7 / 25;
  grid-row: 48 / 49;
  border: 2px solid #A0A0A0;
  border-radius: 5px;  
  padding: 1em;
  margin: 1em;
  margin-top: 0;  
  display: inline-flex;  
  height: 10vh;
}

.chat-window {
  grid-column: 7 / 25;
  grid-row: 2 / 48;
  
  padding: 1em; 
  margin: 0;  
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  display: block;
  padding-bottom: 0;
}

.chat-history-container {
  overflow-y: scroll;
  max-height: 80vh; 
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.chat-history {
  margin-bottom: 0;
  padding-bottom: 0;
}


.sidebars-sidebar-workspace img { 
  display:block;
  margin-left:auto;
  margin-right:auto;  
  border-radius: 5px;
  margin-top: 1em;
  width: 48px;
  height: 48px;  
}

.sidebars-sidebar-workspace {
  border-left: 3px solid white;  
}

.sidebars-sidebar {
  padding: none;
  border: none;
  grid-column: 1 / 2;  
  grid-row: 1 / 49;
  background: #171F28;
  color: white;
}

.sidebar-content {
  padding-left: 1rem;
  margin-left: 0;
  margin-bottom: 0.5rem;
}

.sidebar {
  padding: none;  
  border: none;
  grid-column: 2 / 7;
  grid-row: 1 / 49;
  background: #2D3E4E;  
  color: white;
}

.channel {
  padding-top: 0.5em;
  padding: 1em; 
  padding-bottom: 0.5em;
  padding-right: 0.5em;
  cursor: pointer;
}

.channel-current {
  background: #5899CD;
}